@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

/*** GENERAL ***/
body {
  font-family: "Open Sans", sans-serif;
  color: #4d4643;
  background: #f8f8f8;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

/*** NAVBAR ***/
.submenu {
  padding: 4px 12px;
  color: rgb(107 114 128);
  text-decoration: none;
  background-color: white;
  min-width: 128px;
}

.submenu:hover {
  color: #6366f1;
}

/*** OFFICIALS ***/
.entry {
  padding: 2.5%;
  margin: 0 0 1.25% 0;
}

.entry-content {
  line-height: 24px;
}

.btn {
  @apply font-bold py-2.5 px-5 rounded
}

.btn-primary {
  border-radius: 4px;
  padding: 10px 20px;
  border: 0;
  background-color: #007bff;
  color: white;
}

.btn-primary:hover {
  background-color: #006fd0
  ;
}

.contact {
  margin: 0 0 2.5% 0
}

.source .h6 {
  font-weight: bold;
}
.source .cite {
  font-style: italic;
  color: #007bff;
  padding: 0 0 2.5% 0;
}

.citation {
  font-style: italic;
  color: #007bff;
}

.logo {
  width: 48px;
}

.socials {
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin: 5% 0 5% 0;
}

.endorsements {
  padding: 2.5%;
}

.activity {
  padding: 2.5%;
  width: 95%;
  margin: 0 5% 0 0
}

/*** Dropdown ***/
.dropdown:hover > .dropdown-content {
	display: block;
}

  /* since nested groupes are not supported we have to use 
     regular css for the nested dropdowns 
  */
  li>ul                 { transform: translatex(100%) scale(1) }
  li:hover>ul           { transform: translatex(83%) scale(1) }
  li > button svg       { transform: rotate(-90deg) }
  li:hover > button svg { transform: rotate(-270deg) }

  /* Below styles fake what can be achieved with the tailwind config
     you need to add the group-hover variant to scale and define your custom
     min width style.
  	 See https://codesandbox.io/s/tailwindcss-multilevel-dropdown-y91j7?file=/index.html
  	 for implementation with config file
  */
  .group:hover .group-hover\:scale-100 { transform: scale(1) }
  .group:hover .group-hover\:-rotate-180 { transform: rotate(180deg) }
  .scale-0 { transform: scale(0) }
  .min-w-32 { min-width: 8rem }

/*****************************/

h1 {
  @apply mb-3 text-4xl tracking-tighter text-center lg:text-7xl;
}

h3 {
  @apply mb-3 text-2xl font-bold;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
