---
layout: default
title: Primary
path: 2022
---

<section>
    <div class="container flex flex-col items-center mx-auto lg:h-auto">
        <h1>
            2022 Primary Election
        </h1>

        <div class="flex flex-col items-center mx-auto containor">
            <h2 class="government">
                Federal Offices
            </h2>
            <h3 class="position">
                U.S. Representative District 8
            </h3>
        </div>

        <div class="container flex flex-row flex-wrap items-center mx-auto mb-2 lg:h-auto">
            {% if 2022_federal.items %}
                {% for item in 2022_federal.items %}
                    <div class="m-auto col-lg-2 col-md-5">
                        <div class="text-center box">
                            <a href="/2022/primary-election{{ item.url }}">
                                <h3 class="primary-name">{{ item.name }}</h3>
                                <h5>{{ item.party }}</h5>
                                <picture class="photo_id">
                                    <!--img src="https://voteduluth.s3.us-west-004.backblazeb2.com/officials/{{ item.raw }}.webp" alt="{{ item.name }}" class="p-1 bg-white border photo_id"-->
                                    <img srcset=""
                                    
                                    sizes=""
                                    
                                    src="\static\img\officials\{{ item.raw }}.webp" alt="{{ item.name }}" class="p-1 bg-white border photo_id">
                                </picture>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- STATE REPRESENTATIVE DISTRICT 8A -->
        <div class="flex flex-col items-center mx-auto containor">
            <h2 class="mt-2ome government">
                State Offices
            </h2>
            <h3 class="position">
                State Representative District 8A
            </h3>
        </div>

        <div class="container flex flex-row flex-wrap items-center mx-auto lg:h-auto">
            {% if 2022_state_rep.items %}
                {% for item in 2022_state_rep.items %}
                    <div class="m-auto col-lg-2 col-md-5">
                        <div class="text-center box">
                            <a href="/2022/primary-election{{ item.url }}">
                                <h3 class="primary-name">{{ item.name }}</h3>
                                <h5>{{ item.party }}</h5>
                                <picture class="photo_id">
                                    <img src="\static\img\officials\{{ item.raw }}.webp" alt="{{ item.name }}" class="p-1 mb-2 bg-white border photo_id" >
                                </picture>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- GOVERNOR AND LIEUTENANT GOVERNOR -->
        <div class="flex flex-col items-center mx-auto containor">
            <h3 class="position">
                Governor and Lieutenant Governor
            </h3>
        </div>

        <div class="container flex flex-row flex-wrap items-center mx-auto lg:h-auto">
            {% if 2022_state_gov_and_lt.items %}
                {% for item in 2022_state_gov_and_lt.items %}
                    <div class="m-auto col-lg-2 col-md-5">
                        <div class="text-center box">
                            <a href="/2022/primary-election{{ item.url }}">
                                <h3 class="name">{{ item.govenor }}</h3>
                                <h3 class="name">&</h3>
                                <h3 class="name">{{ item.lieutenant }}</h3>
                                <h5>{{ item.party }}</h5>
                                <picture class="photo_id">
                                    <img src="\static\img\officials\{{ item.raw }}.webp" alt="{{ item.name }}" class="p-1 bg-white border photo_id" >
                                </picture>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="container flex flex-row flex-wrap items-center mx-auto lg:h-auto">
            {% if 2022_state_gov_and_lt2.items %}
                {% for item in 2022_state_gov_and_lt2.items %}
                    <div class="m-auto col-lg-2 col-md-5">
                        <div class="text-center box">
                            <a href="/2022/primary-election{{ item.url }}">
                                <h3 class="name">{{ item.govenor }}</h3>
                                <h3 class="name">&</h3>
                                <h3 class="name">{{ item.lieutenant }}</h3>
                                <h5>{{ item.party }}</h5>
                                <picture class="photo_id">
                                    <img src="\static\img\officials\{{ item.raw }}.webp" alt="{{ item.name }}" class="p-1 bg-white border photo_id" >
                                </picture>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- SECRETARY OF STATE -->
        <div class="flex flex-col items-center mx-auto containor">
            <h3 class="position">
                Secretary of State
            </h3>
        </div>
        
        <div class="container flex flex-row flex-wrap items-center mx-auto lg:h-auto">
            {% if 2022_secratary_of_state.items %}
                {% for item in 2022_secratary_of_state.items %}
                    <div class="m-auto col-lg-2 col-md-5">
                        <div class="text-center box">
                            <a href="/2022/primary-election{{ item.url }}">
                                <h3 class="name">{{ item.name }}</h3>
                                <h5>{{ item.party }}</h5>
                                <picture class="photo_id">
                                    <img src="\static\img\officials\{{ item.raw }}.webp" alt="{{ item.name }}" class="p-1 bg-white border photo_id" >
                                </picture>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- ATTORNEY GENERAL -->
        <div class="flex flex-col items-center mx-auto containor">
            <h3 class="position">
                Attorney General
            </h3>
        </div>
        
        <div class="container flex flex-row flex-wrap items-center mx-auto lg:h-auto">
            {% if 2022_attorney_general.items %}
                {% for item in 2022_attorney_general.items %}
                    <div class="m-auto col-lg-2 col-md-5">
                        <div class="text-center box">
                            <a href="/2022/primary-election{{ item.url }}">
                                <h3 class="name">{{ item.name }}</h3>
                                <h5>{{ item.party }}</h5>
                                <picture class="photo_id">
                                    <img src="\static\img\officials\{{ item.raw }}.webp" alt="{{ item.name }}" class="p-1 bg-white border photo_id" >
                                </picture>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>