---
layout: default
title: Primary
path: 2022
---

<section>
    <div class="container flex flex-col items-center mx-auto lg:h-auto">

        <h1>
            2022 Primary Election
        </h1>
    
        <!--
        {% if 2022_federal.items %}
            {% for item in 2022_federal.items %}
            <div class="text-center box">
                <a href="/city{{ item.url }}">
                    <h3>{{ item.name }}</h3>
                    <h5>{{ item.position }}</h5>
                    <h5>{{ item.party }}</h5>
                    <picture>
                        <img src="\static\img\officials\{{ item.raw }}.webp" alt="{{ item.name }}" class="p-1 bg-white border">
                    </picture>
                </a>
                {% endfor %}
            {% endif %}
            </div>
        -->

        <div class="flex flex-col items-center mx-auto containor">
            <h1>
                Federal Office
            </h1>
        </div>

        <div class="container flex flex-row items-center mx-auto lg:h-auto">
            {% if 2022_federal.items %}
                {% for item in 2022_federal.items %}
                    <div class="m-auto col-lg-2 col-md-5">
                        <div class="text-center box">
                            <a href="/2022/primary-election{{ item.url }}">
                                <h3>{{ item.name }}</h3>
                                <h5>{{ item.position }}</h5>
                                <h5>{{ item.party }}</h5>
                                <picture class="photo_id">
                                    <img src="\static\img\officials\{{ item.raw }}.webp" alt="{{ item.name }}" class="p-1 bg-white border photo_id" >
                                </picture>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="flex flex-col items-center mx-auto containor">
            <h3>City Councilor: At-Large</h3>
        </div>

        <div class="container flex flex-row items-center mx-auto lg:h-auto">
            {% if city_councilatlarge.items %}
                {% for item in city_councilatlarge.items %}
                <div class="m-auto col-lg-2 col-md-5">
                    <div class="text-center box">
                        <a href="/city{{ item.url }}">
                            <h3>{{ item.name }}</h3>
                            <picture>
                                <img src="\static\img\officials\{{ item.raw }}.webp" alt="{{ item.name }}" class="p-1 bg-white border" width="160" height="225">
                            </picture>
                        </a>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    
</section>